.container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
}

.bodyDescrip {
  text-align: center;
}

.bodyNav {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.bodyNav a,
.bodyNav input {
  color: var(--bg-dark);

  font-weight: 550;
  font-size: 1.25rem;
  border: 1px solid var(--bg-dark);
  background: inherit;
  box-shadow: 1px 1px 4px 0px var(--bg-dark);
  padding: .5rem 1rem;
  border-radius: .5rem;
}