.container {
  background-color: var(--bg-dark);
  color: white;
  display: block;
  width: 100vw;
  padding: .75rem 0;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 7px 0px var(--bg-dark);
  text-align: center;
  white-space: nowrap;
}